
.app {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
}

    .app:before {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        display: block;
        width: inherit;
        background-color: #f0f3f4;
        border: inherit;
        content: "";
    }

.app-header-fixed {
    padding-top: 50px;
}

    .app-header-fixed .app-header {
        position: fixed;
        top: 0;
        width: 100%;
    }

.app-header {
    z-index: 1025;
    border-radius: 0;
    background-color: aliceblue;
}

.app-aside {
    float: left;
}

    .app-aside:before {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        width: inherit;
        background-color: inherit;
        border: inherit;
        content: "";
    }

.app-aside-footer {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    max-width: 200px;
}

.app-aside-folded .app-aside-footer {
    max-width: 60px;
}

.app-aside-footer ~ div {
    padding-bottom: 50px;
}

.app-aside-right {
    padding-bottom: 50px;
}

.app-content {
    height: 100%;
}

    .app-content:before,
    .app-content:after {
        display: table;
        content: " ";
    }

    .app-content:after {
        clear: both;
    }

.app-content-full {
    position: absolute;
    top: 50px;
    bottom: 50px;
    width: auto !important;
    height: auto;
    padding: 0 !important;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

    .app-content-full.h-full {
        bottom: 0;
        height: auto;
    }

.app-content-body {
    float: left;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 5px;
}

.app-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1005;
}

    .app-footer.app-footer-fixed {
        position: fixed;
    }

.navbar {
    margin: 0;
    border-width: 0;
    border-radius: 0;
}

    .navbar .navbar-form-sm {
        margin-top: 10px;
        margin-bottom: 10px;
    }

.navbar-left {
    float: left !important;
    padding-left: 550px;
    padding-top: 5px;
}

.navbar-md {
    min-height: 60px;
}

    .navbar-md .navbar-btn {
        margin-top: 13px;
    }

    .navbar-md .navbar-form {
        margin-top: 15px;
    }

    .navbar-md .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-md .navbar-brand {
        line-height: 60px;
    }

.navbar-header > button {
    padding: 10px 17px;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.navbar-brand {
    display: inline-block;
    float: none !important;
    height: auto;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}

    .navbar-brand:hover {
        text-decoration: none;
    }

    .navbar-brand img {
        display: inline;
        max-height: 20px;
        margin-top: -4px;
        vertical-align: middle;
    }

@media (min-width: 768px) {
    .app-aside,
    .navbar-header {
        width: 200px;
    }

    .navbar-collapse,
    .app-content,
    .app-footer {
        margin-left: 200px;
    }

    .app-aside-right {
        position: absolute;
        top: 50px;
        right: 0;
        bottom: 0;
        z-index: 1000;
    }

        .app-aside-right.pos-fix {
            z-index: 1010;
        }

    .visible-folded {
        display: none;
    }

    .app-aside-folded .hidden-folded {
        display: none !important;
    }

    .app-aside-folded .visible-folded {
        display: inherit;
    }

    .app-aside-folded .text-center-folded {
        text-align: center;
    }

    .app-aside-folded .pull-none-folded {
        float: none !important;
    }

    .app-aside-folded .w-auto-folded {
        width: auto;
    }

    .app-aside-folded .app-aside,
    .app-aside-folded .navbar-header {
        width: 60px;
    }

    .app-aside-folded .navbar-collapse,
    .app-aside-folded .app-content,
    .app-aside-folded .app-footer {
        margin-left: 60px;
    }

    .app-aside-folded .app-header .navbar-brand {
        display: block;
        padding: 0;
    }

    .app-aside-fixed .app-aside:before {
        position: fixed;
    }

    .app-aside-fixed .app-header .navbar-header {
        position: fixed;
    }

    .app-aside-fixed .aside-wrap {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        width: 199px;
        overflow: hidden;
    }

        .app-aside-fixed .aside-wrap .navi-wrap {
            position: relative;
            width: 217px;
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
        }

            .app-aside-fixed .aside-wrap .navi-wrap::-webkit-scrollbar {
                -webkit-appearance: none;
            }

                .app-aside-fixed .aside-wrap .navi-wrap::-webkit-scrollbar:vertical {
                    width: 17px;
                }

            .app-aside-fixed .aside-wrap .navi-wrap > * {
                width: 200px;
            }

    .smart .app-aside-fixed .aside-wrap .navi-wrap {
        width: 200px;
    }

    .app-aside-fixed.app-aside-folded .app-aside {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1010;
    }

    .app-aside-fixed.app-aside-folded .aside-wrap {
        width: 59px;
    }

        .app-aside-fixed.app-aside-folded .aside-wrap .navi-wrap {
            width: 77px;
        }

            .app-aside-fixed.app-aside-folded .aside-wrap .navi-wrap > * {
                width: 60px;
            }

    .smart .app-aside-fixed.app-aside-folded .aside-wrap .navi-wrap {
        width: 60px;
    }

    .bg-auto:before {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        width: inherit;
        background-color: inherit;
        border: inherit;
        content: "";
    }

    .bg-auto.b-l:before {
        margin-left: -1px;
    }

    .bg-auto.b-r:before {
        margin-right: -1px;
    }

    .col.show {
        display: table-cell !important;
    }
}
@media (max-width: 767px) {
    body {
        height: auto;
        min-height: 100%;
    }

    .navbar-fixed-bottom {
        position: fixed;
    }

    .app-aside {
        float: none;
    }

    .app-content-full {
        position: relative;
        top: 0;
        width: 100% !important;
    }

    .hbox-auto-xs {
        display: block;
    }

        .hbox-auto-xs > .col {
            display: block;
            width: auto;
            height: auto;
        }

        .hbox-auto-xs .vbox {
            height: auto;
        }

        .hbox-auto-xs .cell-inner {
            position: static !important;
        }

    .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }

        .navbar-nav > li > a {
            box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
        }

            .navbar-nav > li > a .up {
                top: 0;
            }

            .navbar-nav > li > a .avatar {
                width: 30px;
                margin-top: -5px;
            }

        .navbar-nav .open .dropdown-menu {
            background-color: #fff;
        }

    .navbar-form {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    }

        .navbar-form .form-group {
            margin-bottom: 0;
        }
}@media (min-width: 768px) {
    .app.container {
        width: 750px;
        -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    }

        .app.container .app-aside {
            overflow-x: hidden;
        }

        .app.container.app-aside-folded .app-aside {
            overflow-x: visible;
        }

        .app.container.app-aside-fixed .aside-wrap {
            left: inherit;
        }

        .app.container.app-aside-fixed.app-aside-folded .app-aside > ul.nav {
            position: absolute;
        }

        .app.container .app-header,
        .app.container .app-aside {
            max-width: 750px;
        }

        .app.container .app-footer-fixed {
            right: auto;
            left: auto;
            width: 100%;
            max-width: 550px;
        }

        .app.container.app-aside-folded .app-footer-fixed {
            max-width: 690px;
        }

        .app.container.app-aside-dock .app-footer-fixed {
            max-width: 750px;
        }
}

@media (min-width: 992px) {
    .app.container {
        width: 970px;
    }

        .app.container .app-header,
        .app.container .app-aside {
            max-width: 970px;
        }

        .app.container .app-footer-fixed {
            max-width: 770px;
        }

        .app.container.app-aside-folded .app-footer-fixed {
            max-width: 910px;
        }

        .app.container.app-aside-dock .app-footer-fixed {
            max-width: 970px;
        }
}

@media (min-width: 1200px) {
    .app.container {
        width: 1170px;
    }

        .app.container .app-header,
        .app.container .app-aside {
            max-width: 1170px;
        }

        .app.container .app-footer-fixed {
            max-width: 970px;
        }

        .app.container.app-aside-folded .app-footer-fixed {
            max-width: 1110px;
        }

        .app.container.app-aside-dock .app-footer-fixed {
            max-width: 1170px;
        }
}
.nav-sub {
    height: 0;
    margin-left: -20px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.active > .nav-sub,
.app-aside-folded li:hover > .nav-sub,
.app-aside-folded li:focus > .nav-sub,
.app-aside-folded li:active > .nav-sub {
    height: auto !important;
    margin-left: 0;
    overflow: auto;
    opacity: 1;
}

.nav-sub-header {
    display: none !important;
}

    .nav-sub-header a {
        padding: 15px 20px;
    }

.navi ul.nav li {
    position: relative;
    display: block;
}

    .navi ul.nav li li a {
        padding-left: 55px;
    }

    .navi ul.nav li li ul {
        display: none;
    }

    .navi ul.nav li li.active > ul {
        display: block;
    }

    .navi ul.nav li a {
        position: relative;
        display: block;
        padding: 10px 20px;
        font-weight: normal;
        text-transform: none;
        -webkit-transition: background-color 0.2s ease-in-out 0s;
        transition: background-color 0.2s ease-in-out 0s;
    }

        .navi ul.nav li a .badge,
        .navi ul.nav li a .label {
            padding: 2px 5px;
            margin-top: 2px;
            font-size: 11px;
        }

        .navi ul.nav li a > i {
            position: relative;
            float: left;
            width: 40px;
            margin: -10px -10px;
            margin-right: 5px;
            overflow: hidden;
            line-height: 40px;
            text-align: center;
        }

            .navi ul.nav li a > i:before {
                position: relative;
                z-index: 2;
            }

@media (min-width: 768px) {
    .app-aside-folded .nav-sub-header {
        display: block !important;
    }

        .app-aside-folded .nav-sub-header a {
            padding: 15px 20px !important;
        }

    .app-aside-folded .navi > ul > li > a {
        position: relative;
        height: 50px;
        padding: 0;
        text-align: center;
        border: none;
    }

        .app-aside-folded .navi > ul > li > a span {
            display: none;
        }

            .app-aside-folded .navi > ul > li > a span.pull-right {
                display: none !important;
            }

        .app-aside-folded .navi > ul > li > a i {
            display: block;
            float: none !important;
            width: auto;
            margin: 0;
            font-size: 16px;
            line-height: 50px;
            border: none !important;
        }

            .app-aside-folded .navi > ul > li > a i b {
                left: 0 !important;
            }

        .app-aside-folded .navi > ul > li > a .badge,
        .app-aside-folded .navi > ul > li > a .label {
            position: absolute;
            top: 8px;
            right: 12px;
            z-index: 3;
        }

    .app-aside-folded .navi > ul > li > ul {
        position: absolute;
        top: 0 !important;
        left: 100%;
        z-index: 1050;
        width: 200px;
        height: 0 !important;
        -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .app-aside-folded .navi li li a {
        padding-left: 20px !important;
    }

    .app-aside-folded.app-aside-fixed .app-aside > ul.nav {
        position: fixed;
        left: 80px;
        z-index: 1010;
        display: block;
        width: 260px;
        height: auto;
        overflow: visible;
        overflow-y: auto;
        opacity: 1;
        -webkit-overflow-scrolling: touch;
    }

        .app-aside-folded.app-aside-fixed .app-aside > ul.nav:before {
            position: absolute;
            top: 0;
            left: -60px;
            width: 60px;
            height: 50px;
            content: "";
        }

        .app-aside-folded.app-aside-fixed .app-aside > ul.nav a {
            padding-right: 20px !important;
            padding-left: 20px !important;
        }
}

@media (max-width: 767px) {
    /*html,
    body {
        overflow-x: hidden !important;
    }*/

    .app {
        overflow-x: hidden;
    }

    .app-content {
        -webkit-transition: -webkit-transform 0.2s ease;
        -moz-transition: -moz-transform 0.2s ease;
        -o-transition: -o-transform 0.2s ease;
        transition: transform 0.2s ease;
    }

    .off-screen {
        position: fixed;
        top: 50px;
        bottom: 0;
        z-index: 1010;
        display: block !important;
        width: 50%;
        overflow-x: hidden;
        overflow-y: auto;
        visibility: visible;
        -webkit-overflow-scrolling: touch;
    }

        .off-screen + * {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1015;
            width: 100%;
            padding-top: 50px;
            overflow: hidden;
            background-color: #f0f3f4;
            -webkit-transform: translate3d(75%, 0, 0px);
            transform: translate3d(75%, 0, 0px);
            -webkit-transition: -webkit-transform 0.2s ease;
            -moz-transition: -moz-transform 0.2s ease;
            -o-transition: -o-transform 0.2s ease;
            transition: transform 0.2s ease;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
        }

            .off-screen + * .off-screen-toggle {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1020;
                display: block !important;
            }

        .off-screen.pull-right {
            right: 0;
        }

            .off-screen.pull-right + * {
                -webkit-transform: translate3d(-75%, 0, 0px);
                transform: translate3d(-75%, 0, 0px);
            }
}

.bg-dark {
    color: #a6a8b1;
    background-color: #3a3f51;
}

    .bg-dark.lt,
    .bg-dark .lt {
        background-color: #474c5e;
    }

    .bg-dark.lter,
    .bg-dark .lter {
        background-color: #54596a;
    }

    .bg-dark.dk,
    .bg-dark .dk {
        background-color: #2e3344;
    }

    .bg-dark.dker,
    .bg-dark .dker {
        background-color: #232735;
    }

    .bg-dark.bg,
    .bg-dark .bg {
        background-color: #3a3f51;
    }

    .bg-dark a {
        color: #c1c3c9;
    }

        .bg-dark a:hover {
            color: #ffffff;
        }

        .bg-dark a.list-group-item:hover,
        .bg-dark a.list-group-item:focus {
            background-color: inherit;
        }

    .bg-dark .nav > li:hover > a,
    .bg-dark .nav > li:focus > a,
    .bg-dark .nav > li.active > a {
        color: #ffffff;
        background-color: #2e3344;
    }

    .bg-dark .nav > li > a {
        color: #b4b6bd;
    }

        .bg-dark .nav > li > a:hover,
        .bg-dark .nav > li > a:focus {
            background-color: #32374a;
        }

    .bg-dark .nav .open > a {
        background-color: #2e3344;
    }

    .bg-dark .caret {
        border-top-color: #a6a8b1;
        border-bottom-color: #a6a8b1;
    }

    .bg-dark.navbar .nav > li.active > a {
        color: #ffffff;
        background-color: #2e3344;
    }

    .bg-dark .open > a,
    .bg-dark .open > a:hover,
    .bg-dark .open > a:focus {
        color: #ffffff;
    }

    .bg-dark .text-muted {
        color: #8b8e99 !important;
    }

    .bg-dark .text-lt {
        color: #eaebed !important;
    }

    .bg-dark.auto .list-group-item,
    .bg-dark .auto .list-group-item {
        background-color: transparent;
        border-color: #2f3342 !important;
    }

        .bg-dark.auto .list-group-item:hover,
        .bg-dark .auto .list-group-item:hover,
        .bg-dark.auto .list-group-item:focus,
        .bg-dark .auto .list-group-item:focus,
        .bg-dark.auto .list-group-item:active,
        .bg-dark .auto .list-group-item:active,
        .bg-dark.auto .list-group-item.active,
        .bg-dark .auto .list-group-item.active {
            background-color: #2e3344 !important;
        }
